/*
 * Add new themes to map for new albums
 */
$album-themes: (
  theme-1: (
    primary: #6e4efaee,
    text-color: $off-white,
  ),
  theme-2: (
    primary: #724f2f,
    text-color: $off-white,
  ),
  theme-3: (
    primary: #da3d93,
    text-color: $off-white,
  ),
  theme-4: (
    primary: $dark-orange,
    text-color: $off-white,
  ),
  theme-5: (
    primary: #607b86,
    text-color: $off-white,
  ),
  theme-6: (
    primary: #300e47,
    text-color: $off-white,
  ),
  theme-7: (
    primary: #0c151b,
    text-color: $off-white,
  ),
  theme-8: (
    primary: #13103f,
    text-color: $off-white,
  ),
  theme-9: (
    primary: #0a2e72,
    text-color: $off-white,
  ),
  theme-10: (
    primary: #6d0101,
    text-color: $off-white,
  ),
  theme-11: (
    primary: #57491c,
    text-color: $off-white,
  ),
  theme-12: (
    primary: #003aa7,
    text-color: $off-white,
  ),
);
