$white-color: #fff;
$off-white: rgb(252, 251, 249);
$dark-grey: #333333;

$dark-grey: #333333;
$dark-orange: rgb(209, 144, 3);

$dark-blue-text: #272341;
$dark-green-text: #182014;

$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
